apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- deployment.yaml
- service.yaml

images:
- name: news-carousel-live
  newName: brucorreia/news-carousel-live
  newTag: 9d329d4795648268129f63631ad25a1a2e3aaaf2
