apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- cronjob.yaml
- sealed-secret.yaml
- namespace.yaml

images:
- name: news
  newName: brucorreia/news
  newTag: a51a3d28eae5c874841ef4471ac077d729b48fc8
