apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- cronjob.yaml
- sealed-secret.yaml
- namespace.yaml

images:
- name: news
  newName: brucorreia/news
  newTag: 54c7ba8275e51f31c4213612fe9eb7667eabe13a
